:root {
  font-size: 10px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
}

body > * {
  margin-bottom: 1rem;
}
h1 {
  text-align: center;
}
button {
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem;
}
#buttons {
  width: 70vmin;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#notes,
#message,
#winner {
  font-size: 3rem;
}

#vsAi:disabled,
#vsHu:disabled,
#mark-x:disabled,
#mark-o:disabled {
  /* border: 3px solid #000; */
  border-radius: 10px;
}

#reset {
  font-size: 2rem;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

#game-mode button {
  padding: 1rem;
}

.btn-diff {
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: none;
}
.btn {
  width: 10vmin;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 60vmin;
  width: 70vmin;
  background-color: #ccc;
  margin: 1rem auto;
}
